@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

:root{
    --title-font: "Libre Barcode 128 Text", system-ui;
    --body-font: "Cactus Classical Serif", serif;
}

/* HEADER */

.title{
    font-family: var(--title-font) !important;
    font-size: 40px;
    color: black;
}

.navbar-nav{
    font-family: var(--body-font);
}

.right_side_nav{
    display: flex;
    justify-content: flex-end;
}

.custom-nav-item{
    font-size: 1.5rem;
}

.nav-link{
    color: black !important;
}

.profile-icon{
    font-size: 1.5rem;
}

.custom-nav-link{
    font-weight: 500;
}

.logout-btn{
    border: none;
    background: none;
    width: 125%;
    text-align: left;
    padding: 0;
}

.logout-btn:hover{
    font-weight: 600;
}

.dropdown-menu{
    border: none;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-nav .dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .category-drop_menu:hover{
    background-color: aliceblue;
    border: 1px solid rgb(197, 226, 250);
    font-weight: 900;
}

.dropdown-menu .profile-drop_menu:hover:not(:nth-child(5)){
    background-color: aliceblue;
    border: 1px solid rgb(197, 226, 250);
    font-weight: 900;
}

.dropdown-menu .profile-drop_menu:hover:nth-child(5){
    background-color: rgb(252, 200, 200);
    border: 1px solid rgb(246, 148, 148);
}

.profile-img_container {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.profile-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

/* HOME PAGE */

.home_page-title{
    font-family: var(--body-font);
}

.categories-list{
    gap: 10px;
}

.category-link{
    text-decoration: none !important;
}

.category-name{
    color: black !important;
}

/* LOGIN, REGISTER, LOGOUT */

.content-section{
    font-family: var(--body-font);
    padding-bottom: 50px;
}

.auth_inputs{
    border: 1px solid rgb(197, 226, 250);
    transition: all .4s ease-in-out;
}

.auth_inputs:focus{
    border: none;
    background-color: rgb(197, 226, 250);
    outline: none;
}

.register_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.form-btn{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submit-btn{
    font-size: 1.3rem;
    transition: all .5s ease-in-out;
}

.submit-btn:hover{
    color: rgb(137, 199, 249);
    border-bottom: 1px solid rgb(137, 199, 249);
}

.asteriskField {
    display: none;
}

.logout-title{
    font-family: var(--body-font);
}

.logout-section{
    padding: 20% 0 30% 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign_up-img{
    border: none;
    padding: 0;
    cursor: pointer;
}

.sign_up-img::file-selector-button{
    background-color: white;
    color: #777777;
    border: 2px solid rgb(137, 199, 249);
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.sign_up-img::file-selector-button:hover{
    background-color: rgb(137, 199, 249);
    color: white;
}

/* PROFILE */
.profile-container{
    margin-bottom: 60px;
}

.profile{
    display: flex;
    gap: 2%;
    width: 100%;
    max-width: 100%;
}

.profile-image{
    width: 10%;
    height: 10%;
    object-fit: cover;
}

.custom-img-class{
    border-radius: 10%;
}

.profile-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    gap: 20%;
}

.profile-details{
    display: flex;
    flex-direction: column;
}

.profile-details p,
.profile-edit p{
    margin: 0;
}

.profile-details_small small{
    cursor: pointer;
    color: #777777;
    transition: all ease-in-out 0.4s;
}

.profile-details_small small:hover{
    text-decoration: underline;
    color: black;
}

.profile-names{
    font-family: var(--body-font);
    font-size: 1.6rem;
}

.profile-edit{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-edit button{
    padding: 5px 10px;
    cursor: pointer;
}

.profile-inbox{
    font-size: 1.5rem;
}

.profile-edit button:hover{
    background-color: #e0a800;
    color: white;
}

.profile-edit_link{
    color: black;
}

.profile-edit_link:hover{
    text-decoration: none;
    color: white;
}

/* ITEMS */
