{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group px-5">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="px-5 register_form pass_reset">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group form-btn">
                <button class="btn search-btn" type="submit">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
{% endblock content %}