{% extends "main/base.html" %}
{% block content %}
    <div class="container profile-container">
        <div class="profile">
            <img src="{{ profile_image }}" alt="profile image" class="profile-image {% if profile.profile_img.name == 'media/default.png' %}default-img-class{% else %}custom-img-class{% endif %}">
            <div class="profile-info">
                <div class="profile-details">
                    <p class="profile-names">{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                    <div class="profile-details_small">
                        <p>
                            <small>{{ user_profile.username }}</small> / <small>{{ user_profile.email }}</small>
                        </p>
                    </div>
                </div>
                <div class="profile-edit">
                    {% if profile.user == current_user %}
                        <a href="{% url 'communication:inbox' %}" class="profile-inbox">
                            <i class="bi bi-inbox"></i>
                        </a>
                        <button class="btn">
                            <a href="{% url 'user:profile_update' %}" class="profile-edit_link">
                                Edit Profile
                            </a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="container bg-light rounded p-2">
        {% if profile.user == current_user %}
            <h3 class="home_page-title">
                Your Items
            </h3>
        {% else %}
        <h3 class="home_page-title">
            {{ user_profile.first_name }}'s Items
        </h3>
        {% endif %}

<div class="d-flex justify-content-center">
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 g-3">
                {% for item in user_items %}
                <div class="col-md-6 d-flex justify-content-center mb-4">
                    <a href="{% url 'item:detail' item.id %}" class="item-box text-center">
                        <div class="image-container">
                            <img src="{{ item.image.url }}" alt="item image" class="item-image_home img-fluid">
                        </div>

                        <div class="item-description mt-2">
                            <h2 class="item-name">
                                {{ item.name }}
                            </h2>
                            <p class="item-price">
                                Price: £{{ item.price }}
                            </p>
                            <p class="item-price">
                                By: {{ item.created_by }}
                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock content %}