{% extends "main/base.html" %}
{% block title %}
    Dashboard
{% endblock title %}

{% block content %}

    <div class="container mt-6 p-4 bg-light rounded">
        <h2 class="mb-4 text-center">
            My Items
        </h2>
    

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in items %}
                <div class="col">
                    <a href="{% url 'item:detail' item.id %}" class="text-decoration-none">
                        <div class="card h-100">
                            <img src="{{ item.image.url }}" alt="item image" class="card-img-top rounded-top">
                            <div class="card-body bg-white rounded-bottom">
                                <h2 class="card-title">
                                    {{ item.name }}
                                </h2>
                                <p class="card-text text-muted">
                                    Price: {{ item.price }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}